<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unique.overhust"
    android:versionCode="3"
    android:versionName="v0.8" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name=".CommonUtils.ShareContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52b2b48756240b2566000f04" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name=".MainActivity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".MainActivity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity.MeActivity"
            android:label="@string/title_activity_me"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity.ImageDetailsActivity"
            android:label="@string/title_activity_image_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity.AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity.AboutOverHust"
            android:label="@string/title_activity_about_over_hust"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".DownloadStreetView.DownloadService" >
            <intent-filter>
                <action android:name="com.unique.overhust.DownloadService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity.LoadStreetActivity"
            android:label="@string/title_activity_load_street"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
